{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header"><h1>Editar Empresa</h1></div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-warning"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger">
    {{ form_end(delete_form) }}

    <a href="{{ path('empresa_index') }}" class="btn btn-primary">Volver a la lista</a>

{% endblock %}
